body {
  font-family: "Roboto", sans-serif;
}

.menu__title {
  font-family: "Shrikhand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 8px 12px #aaa;
}
header .logo {
  width: 300px;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #eaeaea;
  color: black;
}
.localisation__text {
  margin-left: 10px;
}

.reservation {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 160px;
  background-color: #f6f6f6;
  text-align: center;
  padding: 40px 0;
}
.reservation__title {
  margin-bottom: 10px;
}
.reservation__subtitle {
  font-weight: lighter;
  font-size: 20px;
  color: #353535;
  margin-bottom: 30px;
}
.reservation__btn {
  width: 220px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
}

.fonctionnement {
  height: 200px;
}
.fonctionnement__title {
  padding: 30px;
}
.fonctionnement__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.fonctionnement__card {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 60px;
  width: 25%;
  border-radius: 20px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}
.fonctionnement__card__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #9356DC;
  color: #fff;
  margin-right: 10px;
  transform: translateX(-15px);
}
.fonctionnement__card__icon {
  margin-right: 10px;
  color: #7e7e7e;
}
.fonctionnement__card__icon--color {
  margin-right: 10px;
  color: #9356DC;
}

.restaurant {
  height: 450px;
  background-color: #f6f6f6;
}
.restaurant__title {
  padding: 30px;
}
.restaurant__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.restaurant__list__card {
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  color: black;
}
.restaurant__list__card__img {
  border-radius: 10px 10px 0 0;
}
.restaurant__list__card__title, .restaurant__list__card__subtitle {
  margin-top: 10px;
  margin-left: 10px;
}
.restaurant__list__card__subtitle {
  font-weight: lighter;
}
.restaurant__list__card__icon {
  position: relative;
  left: 85%;
  bottom: 30px;
  font-size: 18px;
}

img {
  width: 100%;
}

.menu {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__ctn {
  flex-direction: column;
  width: 400px;
}
.menu__ctn__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu__ctn__subtitle {
  font-weight: lighter;
}
.menu__ctn__subtitle::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  display: block;
  margin: 5px 0;
}

footer {
  background-color: #353535;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  height: 195px;
}
footer .footer__logo {
  width: 100px;
  filter: invert(100%);
  margin-bottom: 10px;
}
footer .footer__nav {
  list-style: none;
}
footer .footer__nav li {
  margin-bottom: 10px;
}
footer .footer__nav > li > a {
  color: #fff;
}
footer .footer__nav > li > i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
