footer {
    background-color: #353535;
    color : #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    height: 195px;

    .footer__logo {
        width: 100px;
        filter: invert(100%); 
        margin-bottom: 10px;

    }
    .footer__nav {
        list-style: none;
    
        li {
            margin-bottom: 10px;
        }
        > li > a {
            color : #fff;
        }
        > li > i {
            margin-right: 10px;
        } 
    }
}