$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$backgroundColor-primary: #f6f6f6;
$backgroundColor-secondary: #eaeaea;
$backgroundColor-tertiary: #353535;
@mixin flex-center{
    display: flex;
    align-items: center;
}

@mixin button {
    width: 220px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background: linear-gradient($color-secondary, $color-primary);
    font-size: 15px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 40%);
    border: none;
    cursor: pointer;
}

.localisation {
    @include flex-center;
    justify-content: center;
    height: 50px;
    background-color: $backgroundColor-secondary;
    color: black;
    &__text {
        margin-left: 10px;
    }
}

.reservation {
    @include flex-center;
    flex-direction: column;
    height: 160px;
    background-color: $backgroundColor-primary;
    text-align: center;
    padding: 40px 0;
    &__title {
        margin-bottom: 10px;
    }
    &__subtitle {
            font-weight: lighter;
            font-size: 20px;
            color: $backgroundColor-tertiary;
            margin-bottom: 30px;
        }
    &__btn {
        @include button;
    }

}

.fonctionnement{
    height: 200px;
    &__title {
        padding: 30px;
    }
    &__list {
        @include flex-center;
        justify-content: space-around;
        flex-direction: row;
    }
    &__card {
        @include flex-center;
        background-color: $backgroundColor-primary;
        height: 60px;
        width: 25%;
        border-radius: 20px;
        box-shadow: 1px 3px 10px rgb(0 0 0 / 20%);
        &__number{
            @include flex-center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            background-color: $color-primary;
            color: #fff;
            margin-right: 10px;
            transform: translateX(-15px);
        }
        &__icon{
            margin-right: 10px;
            color: #7e7e7e;
            &--color{
                margin-right: 10px;
                color: $color-primary;   
            }
        }
    }
}

.restaurant {
    height: 450px;
    background-color: $backgroundColor-primary;

    &__title {
        padding: 30px;
    }
    &__list {
        @include flex-center;
        justify-content: space-around;
        flex-wrap: nowrap;

        &__card {
            border-radius: 1.25rem;
            box-shadow: 0 0 16px #0000002e;
            color: black;
            
            &__img {
                border-radius: 10px 10px 0 0;
            }
            &__title,  &__subtitle {
                margin-top: 10px;
                margin-left: 10px;
            }
            &__subtitle {
                font-weight: lighter;
            }
            &__icon {
                position: relative;
                left: 85%;
                bottom: 30px;
                font-size: 18px;
            }
        }
        }
    }


